diff a/fs/Kconfig b/fs/Kconfig	(rejected hunks)
@@ -276,7 +276,7 @@ source "fs/dlm/Kconfig"
 
 config DYNAMIC_FSYNC
 	bool "dynamic file sync control"
-	default n
+	default y
 	help
 	  An experimental file sync control using Android's early suspend / late resume drivers
 
