diff a/drivers/cpufreq/Kconfig b/drivers/cpufreq/Kconfig	(rejected hunks)
@@ -254,6 +254,94 @@ config CPU_FREQ_GOV_HOTPLUG
 
 	  If in doubt, say N.
 
+config CPU_FREQ_DEFAULT_GOV_PEGASUSQ
+	bool "pegasusq"
+	select CPU_FREQ_GOV_PEGASUSQ
+
+config CPU_FREQ_DEFAULT_GOV_SMARTASS2
+        bool "smartass"
+        select CPU_FREQ_GOV_SMARTASS2
+        select CPU_FREQ_GOV_PERFORMANCE
+        help
+          Use the CPUFreq governor 'smartassV2' as default.
+
+config CPU_FREQ_DEFAULT_GOV_GALLIMAUFRY
+	bool "gallimaufry"
+	select CPU_FREQ_GOV_GALLIMAUFRY
+	help
+	A pimped out ondemand governor.
+        This features earlysuspend, hotplugging, a
+        2-phase algo, and tweaks to make it more aggressive.
+
+config CPU_FREQ_DEFAULT_GOV_AGGRESSIVE
+	bool "aggressive"
+	select CPU_FREQ_GOV_AGGRESSIVE
+	help
+	A pimped out conservative governor.
+        This features earlysuspend, hotplugging,
+        and tweaks to make it more aggressive.
+
+config CPU_FREQ_DEFAULT_GOV_WHEATLEY
+	bool "wheatley"
+	select CPU_FREQ_GOV_WHEATLEY
+	help
+	  eekzeel
+
+config CPU_FREQ_DEFAULT_GOV_SAKURACTIVE
+	bool "sakuractive"
+	select CPU_FREQ_GOV_SAKURACTIVE
+	help
+	  eekzeel
+
+config CPU_FREQ_DEFAULT_GOV_LAZY
+	bool "lazy"
+	select CPU_FREQ_GOV_LAZY
+        select CPU_FREQ_GOV_PERFORMANCE
+	help
+	  Use the CPUFreq governor 'lazy' as default.
+
+config CPU_FREQ_DEFAULT_GOV_INTERACTIVEX
+  bool "interactiveX"
+  select CPU_FREQ_GOV_INTERACTIVEX
+  help
+    Use the CPUFreq governor 'interactiveX' as default. This allows
+    you to get a full dynamic cpu frequency capable system by simply
+    loading your cpufreq low-level hardware driver, using the
+    'interactiveX' governor for latency-sensitive workloads.
+
+config CPU_FREQ_DEFAULT_GOV_GALLIMAUFRYX
+  bool "gallimaufryX"
+  select CPU_FREQ_GOV_GALLIMAUFRYX
+  help
+  A modified ondemand governor.
+        This features earlysuspend, hotplugging, a
+        2-phase algo, and tweaks to make it more aggressive.
+
+config CPU_FREQ_DEFAULT_GOV_LULZACTIVE
+  bool "lulzactive"
+  select CPU_FREQ_GOV_LULZACTIVE
+  select CPU_FREQ_GOV_PERFORMANCE
+  help
+    Use the CPUFreq governor 'lulzactive' as default.
+
+config CPU_FREQ_DEFAULT_GOV_AGGRESSIVEX
+  bool "aggressiveX"
+  select CPU_FREQ_GOV_AGGRESSIVEX
+  help
+  A modified conservative governor.
+        This features earlysuspend, hotplugging,
+        and tweaks to make it more aggressive.
+
+config CPU_FREQ_DEFAULT_GOV_ADAPTIVE
+  bool "adaptive"
+  select CPU_FREQ_GOV_ADAPTIVE
+  help
+    Use the CPUFreq governor 'adaptive' as default. This allows
+    you to get a full dynamic cpu frequency capable system by simply
+    loading your cpufreq low-level hardware driver, using the
+    'adaptive' governor for latency-sensitive workloads and demanding
+    performance.
+
 ## SJIT 2012-02-01 [dojip.kim@lge.com] Add SANJOSE governor
 config CPU_FREQ_GOV_SANJOSE
 	tristate "'sanjose' cpufreq governor (Experimental)"
